#[student@workstation dockerfile-review]$ more /usr/local/etc/ocp4.config 
RHT_OCP4_MASTER_API=https://api.eu410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu410.prod.nextcle.com
RHT_OCP4_DEV_USER=
RHT_OCP4_DEV_PASSWORD=
RHT_OCP4_GITHUB_USER=wspeck
RHT_OCP4_QUAY_USER=wilhard_speck
